<!-- Body Inner -->
<div class="body-inner">

    <!-- Header -->
    <header id="header" data-fullwidth="true">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo">
                    <a routerLink="/home">
                        <img src="assets/images/logo.jpg"  class="logo-default">
                        
                            <span class="logo-dark">LifeDerma</span>
                    </a>
                </div>
                <!--End: Logo-->
                <!--Header Extras-->
                <app-language [cart]="cart.length"></app-language>
                <!--end: Header Extras-->
                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                <!--end: Navigation Resposnive Trigger-->
                <!--Navigation-->
                <app-menu></app-menu>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
    <!-- end: Header -->

    <!-- end: Header -->
    <!-- Inspiro Slider -->
    <div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-fade="true">
        <!-- Slide 1 -->
        <div class="slide kenburns" data-bg-image="assets/images/slider/5fd8d2e878bfe.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <h1>{{ 'home.s01_t'|translate }}</h1>
                    <p>{{ 'home.s01_d'|translate }}</p>
                    <div><a routerLink="/shop" class="btn scroll-to">{{ 'shop.title'|translate }}</a></div>

                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 1 -->
        <!-- Slide 2 -->
        <div class="slide" data-bg-image="assets/images/slider/bg4.jpg">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <h1>{{ 'home.s02_t'|translate }}</h1>
                    <p class="text-small">{{ 'home.s02_d'|translate }}</p>
                    <div><a routerLink="/shop" class="btn scroll-to">{{ 'shop.title'|translate }}</a></div>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 2 -->
    </div>
    <!--end: Inspiro Slider -->

    <!-- WELCOME -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h4 class="m-b-10">Description</h4>
                    <h2 class="m-b-10">{{ 'home.a_t'|translate }} </h2>
                    <p>{{ 'home.a_d'|translate }}
                    </p>
                </div>
                <div class="col-lg-6 offset-1 m-t-50">
                    <iframe src="https://www.youtube.com/embed/C7NdShlrRAQ" width="500" height="281" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </section>
    <!-- end: WELCOME -->

    <!-- Call to action -->
    <section class="background-colored text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9r">
                    <h3 class="text-light">{{ 'home.start'|translate }} <span class="iconify"
                            data-icon="emojione-v1:smiling-face-with-sunglasses" data-inline="false"></span> </h3>
                    <a routerLink="/contact"
                        class="btn btn-light btn-outline btn-rounded">{{ 'home.date'|translate }}</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end: Call to action -->


    <section>
        <div class="container">
            <div class="heading-text heading-section text-center">
                <h2>{{ 'home.skill'|translate }}</h2>
                <p>{{ 'home.skill_d'|translate }}</p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="far fa-lightbulb"></i></a>
                        </div>
                        <h3>{{ 'home.p01_title'|translate }}</h3>
                        <p>{{ 'home.p01_desc'|translate }}</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="fa fa-trophy"></i></a>
                        </div>
                        <h3>{{ 'home.p02_title'|translate }}</h3>
                        <p>{{ 'home.p02_desc'|translate }}</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium border center">
                        <div class="icon">
                            <a href="#"><i class="fa fa-thumbs-up"></i></a>
                        </div>
                        <h3>{{ 'home.p03_title'|translate }}</h3>
                        <p>{{ 'home.p03_desc'|translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="heading-text text-center">
                <h2>{{ 'about.temoignages'|translate }}</h2>
                <p class="lead text-center">
                    {{ 'about.temoignagnes_intro'|translate }}</p>
            </div>
            <!-- Testimonials -->
            <div class="carousel arrows-visibile testimonial testimonial-single testimonial-left" data-items="1">

                <!-- Testimonials item -->
                <div class="testimonial-item">
                    <img src="assets/images/team/male-23.jpg" alt="">
                    <p style="font-size: 15px;">Priority of a store in the sale of sports equipment. The biggest concern
                        in this sector
                        is the right customers to sell the stock, multiple descents on the ground without results my
                        brother decides to take
                        me to see it. CEO of AFRIZON. After a long explanation of my problem he decides to introduce me
                        to the
                        Afrizone network. Today I am gradually starting to have customers interested in my products.</p>
                    <span>Mr Andrew</span>
                    <span>CEO, The fitness Shop</span>
                </div>
                <!-- end: Testimonials item-->

                <!-- Testimonials item -->
                <div class="testimonial-item">
                    <img src="assets/images/team/female-30.jpg" alt="">
                    <p style="font-size: 15px;">Je detiens une parfemurie, il y a pas plus tard que 2 mois mon chiffre
                        d'affaire était
                        approximativement de 120.000 FCFA/semaine depuis 2ans, j'ai cru longtemps que cela était
                        impossible de faire plus
                        mais depuis mon entrée dans le réseau AFRIZON, je vends aujourd'hui pas moins de
                        340.000FCFA/semaine!</p>
                    <span>Mme Marion</span>
                    <span>Promotrice Mak's Beauty </span>
                </div>
                <!-- end: Testimonials item-->

                <!-- Testimonials item -->
                <div class="testimonial-item">
                    <img src="assets/images/team/male-32.jpg" alt="">
                    <p style="font-size: 15px;">Je suis propriétaire d’une boutique de vente d’appareil électronique au
                        marché central de yaoundé depuis 6 ans.
                        Avant mon entrée à AFRIZON je réussissais déjà à générer des chiffres conséquents mais par
                        curiosité j’ai voulu
                        m’affilier au réseau. Je n’avais pas prévu que les ventes allaient triplé en seulement 3 mois.
                        J’ai dû m’associer
                        mes collègues afin de satisfaire la demande car le réseaux de vente me permet de vendre dans au
                        moins 5 villes.
                    </p>
                    <span>Mr William Monre</span>
                    <span>Commerçant</span>
                </div>
                <!-- end: Testimonials item-->

            </div>
            <!-- end: Testimonials -->
        </div>
    </section>
    <app-footer></app-footer>
</div>
<!-- end: Body Inner -->

<!-- Scroll top -->
<app-scroll-top></app-scroll-top>